# dependencies
node_modules/

# next.js
.next/
out/

# environment variables
.env.local
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store

# -----------------------------
# Python / ML
# -----------------------------
venv/
ml-model/venv/
__pycache__/
*.pyc

# Model artifacts (optional if large)
# Comment this if you WANT to commit the model
# *.h5